@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    @apply bg-white text-secondary;
    --primary-color: #56acbf;
    --primary-color-dark: #3a7f8c;
    --primary-color-light: #6c91c2;
    --primary-color-light-2: #6c91c21a;
    --primary-color-light-3: #6c91c21e;
    --link-color: #56acbf;
    --dark-color: rgba(0, 0, 0, 0.822);
    --dark-color-2: rgba(0, 0, 0, 0.705);
    --dark-color-3: rgba(0, 0, 0, 0.726);
    --dark-trans: rgba(0, 0, 0, 0.404);
    --dark-trans-2: rgba(0, 0, 0, 0.322);
    --dark-trans-3: rgba(0, 0, 0, 0.178);
    --dark-trans-4: rgba(0, 0, 0, 0.123);
    --color-gray: rgb(224, 224, 224);
    --color-gray-dark: rgb(80, 80, 80);
    --light-color-trans: rgba(255, 255, 255, 0.425);
    --light-shadow: 0 0 1px rgba(0, 0, 0, 0.795);
    --light-shadow-1: 0 0 10px rgba(0, 0, 0, 0.212);
    --light-shadow-2: 0 0 10px var(--primary-color-light);
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
    .button-lg {
        @apply rounded px-5 py-3 text-xs font-semibold xl:px-6 xl:py-4 xl:text-sm hover:opacity-80;
    }
    .button-regular {
        @apply rounded px-2 py-1 text-xs font-semibold xl:text-sm hover:opacity-80;
    }
    .button-sm {
        @apply rounded-xv py-1 px-2 text-xs font-semibold xl:text-sm hover:opacity-80;
    }
    .button-outline {
        @apply transition-all duration-300 hover:opacity-100;
    }
    .section {
        @apply max-w-next-max mx-auto px-5 py-10;
    }
    .section-title {
        @apply text-2xl font-bold uppercase mb-10 xl:text-4xl xl:mb-20;
    }

    input {
        @apply focus:outline-none focus:border-none;
    }

    .eco-input {
        @apply block w-full border border-[#E0E0E0] rounded-xv focus:outline-none focus:border-primary px-4 py-2 bg-[#F9F9F9] placeholder:text-sm placeholder:capitalize;
    }

    .eco-input-group {
        @apply flex items-center justify-between border border-[#E0E0E0] rounded-xv focus-within:border-primary max-xs:p-1 bg-[#F9F9F9] placeholder:text-sm;
    }

    .eco-input-group input {
        @apply bg-[#F9F9F9] placeholder:text-sm max-xs:placeholder:text-xxs focus:outline-none bg-transparent py-2 max-xs:py-1 rounded-xv;
    }

    .eco-input-dark {
        @apply block w-full border border-white rounded-xv focus:outline-none px-4 py-4 bg-[#3A3A3A] placeholder:text-sm max-xs:p-2 max-xs:placeholder:text-xxs;
    }

    .eco-input-group__dark {
        @apply flex w-full border border-white rounded-xv  px-4  bg-[#3A3A3A] py-2  max-xs:p-1;
    }

    .eco-input-group__dark span {
        @apply block bg-transparent py-2 max-xs:py-1;
    }
    .eco-input-group__dark input {
        @apply placeholder:text-sm max-xs:placeholder:text-xxs focus:outline-none bg-transparent py-2 max-xs:py-1;
    }
}

/* navbar toogle button */
.nav-toggle {
    @apply w-10 h-10 relative z-6 border border-secondary rounded flex justify-center items-center p-1;
}

.nav-toggle span {
    @apply relative h-[2px] w-full bg-secondary;
}
.nav-toggle span::before,
.nav-toggle span::after {
    content: "";
    @apply block absolute left-0 h-[2px] w-full bg-secondary transition-all duration-300;
}
.nav-toggle span::before {
    @apply -top-2;
}

.nav-toggle span::after {
    @apply top-2;
}
/* when active */
.nav-toggle.show span {
    @apply bg-transparent;
}
.nav-toggle.show span::before {
    transform: rotate(135deg) translate(6px, -6px);
}
.nav-toggle.show span::after {
    transform: rotate(-135deg) translate(6px, 6px);
}
/* end of navbar toogle button */

/* FORM */
.user__form {
    width: 100%;
    max-width: 30rem;
    margin: auto;
    box-shadow: var(--light-shadow);
    padding: 3rem;
    text-align: left;
}

.user__form h2 {
    text-align: center;
}

.form__error {
    margin-top: 2rem;
    color: #ff0000;
    font-size: 1.3rem;
    background-color: rgba(255, 0, 0, 0.1);
    text-align: center;
    padding: 1rem;
}

.form__success {
    margin-top: 2rem;
    color: #269c30;
    font-size: 1.3rem;
    background-color: #269c303f;
    text-align: center;
    padding: 1rem;
}

.form__actions {
    text-align: left;
    width: 100%;
    height: fit-content;
    margin-top: 1rem;
}

.form__actions button {
    display: inline-block;
    text-decoration: none;
    padding: 0.5rem 1.5rem;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
    text-transform: capitalize;
}

.form__actions button:hover {
    background-color: var(--primary-color-dark);
}

.form__actions a {
    text-decoration: none;
    color: var(--link-color);
}

.form__actions a:hover {
    text-decoration: underline;
}
/* END OF FORM */

/* hero transition */
.slide-viewer {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 100%;
    /* background-image: radial-gradient(
    circle,
    var(--primary-color-dark) 30%,
    var(--primary-color) 100%
  ); */
}

.slider {
    width: 100%;
    height: 100%;
}

.slide {
    width: 100%;
    height: 100%;
    transition: all 5s;
    display: none;
}

.slide-active {
    display: flex;
    animation: fadeInSlide 3s forwards;
}

.slide img {
    position: relative;
    pointer-events: none;
    z-index: 2;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
/* end of hero transition */

@keyframes fadeInSlide {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
